# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystems are summarized

**Objectives:**
* List popular languages for data science
* List commonly used libraries by Data Scientists
* Create a code to multiply and add numbers

Some of the popular languages that Data Scientists use are:
1. python
2. SQL
3. R

Some of the commonly used libraries by Data Scientists include:
1. TensorFlow
2. NumPy
3. Pandas

|Data science Tools|
|------------------|
|Git hub|
|Jupyter Notebooks|
|RStudio IDE|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [6]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [14]:
# This will convert 200 minutes to hours by diving by 60
Results = 200/60
print ("200 minutes is", Results,  "hours")

200 minutes is 3.3333333333333335 hours

**Objectives**
* objective 1
* objective 2
* objective 3

## Author: 
Nader Bedair